html {
    font-size: 76.5%;
}

body {
    width: 60vw;
    margin: 0 auto;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 300;
    border: 2px solid red;
    background-color: #f5f5dc;
    padding: 2em;
}

h1 {
    font-size: 3.0em;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.2;
    letter-spacing: -.05em;
}

p {
    margin-top: 0;
}

button {
    display: inline-block;
    height: 38px;
    width: 120px;
    padding: 0 10px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 5px;
    line-height: 38px;
    text-transform: uppercase;
    color: white;
}

#open-modal,
button[type="submit"],
#statusBtn {
  background-color:#1EAEDB;
  border-color:  #1EAEDB;
}

#cancelBtn,
#removeBtn {
    background-color: rgb(228, 26, 103);
    border-color: rgb(228, 26, 103);
}

#cancelBtn,
#addBook {
    width: 150px;
}

form {
    width: 380px;
    border: none;
}

input[type="text"],
input[type="number"],
select{
    display: block;
    box-sizing: border-box;
    height: 38px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid black;
    font-size: 100%;
}

input[type="text"] {
    width: 100%;
}

input:hover {
    background-color: hsl(202, 15%, 71%, .3);
}

select,
input[type="number"]{
    width: 40%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
}

thead {
    display: flex;
    justify-content: space-between;
}

tr{
    display: grid;
    grid-template-columns: 4fr 2.5fr 1fr 1fr 1fr;
    gap: 1em;
}

tr {
    margin: 0;
    border-bottom: 1px solid black;
}

th {
    margin: 0;
    padding: 0;
}