html {
    font-size: 76.5%;
}

body {
    width: 1000px;
    margin: 0 auto;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 300;
    background-color: #f5f5dc;
    padding: 1.5em;
}

h1 {
    font-size: 3.0em;
    font-weight: 300;
    margin-top: 50px;
    line-height: 1.2;
    letter-spacing: -.05em;
}

p {
    margin-top: 0;
}

/* Remove stepper arrows in webkit browsers*/
#pages::-webkit-outer-spin-button,
#pages::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Remove stepper arrows in Firefox*/
#pages {
    -moz-appearance: textfield;
    appearance: textfield;
}

button {
    display: inline-block;
    height: 38px;
    width: 120px;
    padding: 0 10px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 5px;
    line-height: 38px;
    text-transform: uppercase;
    color: white;
}

#open-modal,
button[type="submit"],
#statusBtn {
  background-color:rgb(30, 174, 219);
  border-color:  #43c0e7;
}
#open-modal {
    margin-bottom: 50px;
}

#cancelBtn,
#removeBtn {
    background-color: rgb(228, 26, 103);
    border: none
}

#cancelBtn:hover,
#removeBtn:hover {
    background-color: rgb(178, 33, 91);
}

#addBook:hover,
#statusBtn:hover,
#open-modal:hover {
    background-color: rgb(25, 138, 173);;
}

#cancelBtn,
#addBook {
    width: 150px;
}

dialog {
    border-radius: 10px;
    border: 1px solid black;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

form {
    width: 380px;
    border: none;
}

input[type="text"],
input[type="number"],
select{
    display: block;
    box-sizing: border-box;
    height: 38px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid black;
    font-size: 100%;
}

input[type="text"] {
    width: 100%;
}

input:hover {
    background-color: hsl(202, 15%, 71%, .3);
}

select,
input[type="number"]{
    width: 40%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

tr {
    padding: 10px 0;
    border-bottom: 1px solid #E1E1E1;
    display: grid;
    grid-template-columns: 310px 250px 130px 130px 130px ;
    gap: 10px
}

th, td {
    text-align: left;
}