/* Resets*/
* {
    padding: 0;
    margin: 0;
}
/* Reset End*/


body {
    width: 90wv;
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.25rem;
    padding: 1em;
}

h1 {
    font-size: 1.7rem;
    margin-top: .5em;
    margin-bottom: 1.5em;
    font-weight: 400;
}

button {
    text-transform: uppercase;
    width: 150px;;
    padding: 1em;
    border-radius: 20px;
    border: none;
    background-color: rgb(30, 174,219);
}


#open-modal:hover,
#open-modal:focus {
    background-color: rgb(25, 138, 173);
}


dialog {
    border-radius: 10px;
    border: 1px solid black;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

form {
    width: 80%;
    padding: 1.5em;
}

input,
select {
    width: 100%;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: .5em;
}

p {
    margin-bottom: 1.5em;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 0;
}

table thead {
    clip-path: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

table tr {
    border-bottom: 3px solid black;
    display: block;
    margin-bottom: 0.9em;
}

table td {
    padding: 0.3em;
    border-bottom: 1px solid black;
    display: block;
    text-align: right;
}

table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

table td:last-child {
    border: 0;
}