*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 100%;
    margin: 2em 2vw;
    padding: 2em 2vw;
}

h1 {
    margin-bottom: 1.5em;
    font-weight: 400;
}

/* Modal */
dialog {
    width: 20em;  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 2em;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}


form {
    padding: 2em;
    width: 100%;
    max-width: 20rem;
}

input {
    margin-bottom: 1em;
}

input[type="text"],
input[type="number"]{
    padding: 0 .25em 0 1em;
    font-size: 1em;
    width: 100%;
    height: 2.5rem;
    border-radius: 2em;
    border: 1px solid gray;
}

fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: .25em;
    margin-bottom: 1.1em;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid black;
} 

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:hover {
    border: 1px solid black;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.invalid label,
.invalid input::placeholder {
    color: #c00;
}

/* Table styles */
table {
    margin: 1em 0;
    border-collapse: collapse;
}

caption {
    padding-left: 0.5em;
    text-align: left;
    margin-bottom: 1em;
}

th,
td {
    padding: 0.25em .5em 0.25em 1em;
    text-align: left;
    text-indent: -0.5em;
    vertical-align: text-top;
}

tr {
    border-bottom: 1px solid #B0BEC5;
}

th:nth-of-type(3),
th:nth-of-type(4),
th:nth-of-type(5),
td:nth-of-type(3) {
    text-align: right;
}

/* Button styles*/
button{
    height: 3em;
    width: 10em;
    border-radius: 2em;
    text-transform: uppercase;
    border: none;
    background-color: #007BFF;
    color: white;
}


#addBook,
#cancelBtn {
    width: 100%;
    margin-bottom: 2em;
}

#removeBtn {
    background-color: #d64a4a;
}

#removeBtn:hover,
#removeBtn:focus{
    background-color: #a83636;
    transition: background-color 0.2s ease-in-out;
}

#addBook {
    background-color: #007BFF;
}

#cancelBtn {
    background-color: #6C757D;
}

#cancelBtn:hover,
#cancelBtn:focus {
    background-color: #565e64;
    transition: background-color 0.2s ease-in-out;
}

#open-modal:hover,
#addBook:hover,
#statusBtn:hover,
#open-modal:focus,
#addBook:focus,
#statusBtn:focus {
    background-color: #0069d9;
    transition: background-color 0.2s ease-in-out;
}

#open-modal {
    width: 16em;
    margin-bottom: 2em;
    margin-left: 0.5em;
}

@media (max-width: 37em) {

    caption {
        font-weight: bold;
        font-size: 1.3rem;
    }
    
    table,
    td,
    tr {
        display: block;
    }

    thead,
    th {
        display: none;
    }

    td {
        padding:  0.8em .5em 0.8em 0;
        display: grid;
        grid-template-columns: 4em auto;
        grid-gap: 1em
    }

    td:nth-of-type(3) {
        text-align: left;
    }

    td::before {
        margin-left: 0.8em;
        text-align: left;
        content: attr(data-label);
        font-weight: bold;
    }
}