* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato";
    font-size: 100%;
    margin: 2em 2vw;
    padding: 2em 2vw;
}

h1 {
    margin-bottom: 1.5em;
    font-weight: 300;
}

table {
    margin: 1em 0;
    border-collapse: collapse;
}

caption {
    padding-left: 0.5em;
    text-align: left;
    margin-bottom: 1em;
}

th,
td {
    padding: 0.25em .5em 0.25em 1em;
    text-align: left;
    text-indent: -0.5em;
    vertical-align: text-top;
}

th:nth-of-type(3)
td:nth-of-type(3) {
    text-align: right;
}


button {
    height: 3em;
    width: 10em;
    border-radius: 2em;
    text-transform: uppercase;
    border: none;
    background-color: red;
    color: white;
}

#open-modal {
    margin-bottom: 2em;
    margin-left: 0.5em;
}

@media (max-width: 20em) {

    table,
    td,
    tr {
        display: block;
    }

    thead,
    th {
        display: none;
    }

    td {
        padding:  0.5em .5em 0.5em .25em;
        display: grid;
        grid-template-columns: 4em auto;
        grid-gap: 1em
    }

    td::before {
        content: attr(data-label);
    }
}