/* Resets*/
* {
    padding: 0;
    margin: 0;
}
/* Reset End*/


body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.25rem;
    padding: 1em;
}

h1 {
    font-size: 1.2rem;
    margin-top: .5em;
    margin-bottom: 1.5em;
    font-weight: 400;
}

button {
    text-transform: uppercase;
    width: 150px;;
    padding: 1em;
    border-radius: 20px;
    border: none;
    background-color: rgb(30, 174,219);
}


#open-modal:hover,
#open-modal:focus {
    background-color: rgb(25, 138, 173);
}


dialog {
    border-radius: 10px;
    border: 1px solid black;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

form {
    width: 80%;
    padding: 1.5em;
}

input,
select {
    width: 100%;
    height: 2.5em;
    border-radius: 20px;
}

p {
    margin-bottom: 1.5em;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}